@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: UniSans;
    src: url("/fonts/Uni Sans Heavy.otf") format("opentype");
}

.customFont {
    font-family: 'UniSans';
}